apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-k8s-troubleshooting
  labels:
    app: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: ai-k8s-troubleshooting-container
        image: ghcr.io/microsoft/applicationinsights-kubernetes:latest
        ports:
        - containerPort: 80
        env:
        - name: APPINSIGHTS_INSTRUMENTATIONKEY
          value: Your-Own-Application-Insights-Key
